# -----------------
# Python / FastAPI
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

venv/
.env
.env.*

# -----------------
# Node / React / Vite
# -----------------
node_modules/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------
# MacOS junk
# -----------------
.DS_Store

# -----------------
# IDE
# -----------------
.vscode/
.idea/

# -----------------
# misc
# -----------------
coverage/
*.log